.features {
  display: flex;
  align-items: center;
  padding: 10rem 1rem;
  width: 100%;
  background-image: url(https://mc.webpcache.epapr.in/mcms.php?size=large&in=https://mcmscache.epapr.in/post_images/website_326/post_22848036/full.jpg);
  background-size: cover;
  color: white;
}
